<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.pocketlearningapps.timeline">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name="com.pocketlearningapps.timeline.MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.timelines.TimelineActivity" />
        <activity android:name=".ui.quiz.QuizActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.react.MyReactActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
        </activity>
    </application>

</manifest>
